
/* edition */
.cardbookExpandedClass {
	/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://global/skin/icons/twisty-collapsed.svg");
	-moz-context-properties: fill, fill-opacity;
	fill: currentColor;
	fill-opacity: 1;
}
.cardbookExpandedClass[expanded="true"] {
	list-style-image: url("chrome://global/skin/icons/twisty-expanded.svg");
}

.cardbookAutoComputeFnClass {
	/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/computeKO.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookAutoComputeFnClass[autoComputeFn="true"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/computeOK.svg");
}

#searchForOnlineKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/remote.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForThKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/localdb.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForLocalKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/file.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

#previousEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/previous.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#nextEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/next.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

#createTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/addtemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#openTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/opentemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#applyTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/applytemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
